<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secure Page</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="heading">Welcome to the secure page</h1>
      <p>Have this candy</p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKMG5Uv7f4qSYVCDZTQio4EBxs4E_MGNvAGJWXwtNIwXJOC3YSe82h3iIgrB-KyGyyeVE&usqp=CAU" alt="candy">
      <form action="/logout" method="GET">
        <button type="submit">Logout</button>
      </form>
    </div>
  </body>
</html>
